.search-form,
.edit-form {
  margin-left: 40%;
}
.hideForm {
  visibility: none;
}
.showForm {
  visibility: visible;
}
.edit-form {
  top: 20%;
  left: 0%;
  padding: 30px;
  background: wheat;
  position: absolute;
  font-size: 1.2rem;
  input {
    width: 160px;
    height: 23px;
  }
  button {
    background: black;
    color: white;
    border: none;
    font-size: 1.1rem;
    width: 100px;
    height: 30px;
    margin-left: 20px;
  }
}
